.nft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nft-collection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nft-collection > a {
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 7px;
    padding: 5px;
}

.nft-collection > a:hover {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
}