.nft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nft-collection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nft-collection > a {
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 7px;
    padding: 5px;
}

.nft-collection > a:hover {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.word-breaker {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.nft-attributes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.claim-button, .connect-button-p button {
    background-color: #0085b6;
    padding: 20px;
}

.claim-button:hover, .connect-button-p button:hover {
    background-color: #555898;
}

.mint-link {
    background-color: #cc1a6e;
    color: white;
    padding: 20px;
    margin: 50px;
    display: block;
    border-radius: 10px;
}

.mint-link:hover {
    text-decoration: none;
    background-color: #ff005d;
}